/* debug */


/* CSS rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: aria, sans-serif;
}
.flexed{
    display: flex;
}
.container.reverse-wrapped{
    flex-wrap: wrap-reverse;
}
.sized{
    max-width: 1170px;
    width: 80%;
    margin: auto;
}
.button a{
    text-decoration-line: none;
    padding: 10px 15px;
    border-radius: 25px;
}
.white.button a{
    background-color: white;
    color: black;
}
.black.button a{
    background-color: black;
    color:white;
}
.blue.button a{
    background-color: #3a5cd7;
    color:white;
}
.button a:hover{
    box-shadow: 0 5px 15px 0px #00000050;
}
.white.button a:hover{
    color: #7289DA;
}
.black.button a:hover{
    background-color: rgb(37, 37, 37);
}
.blue.button a:hover{
    background-color: #7289DA;
}
/* header */
header{
    background-color: #255EE9;
}
    /* top */
    header .top.container{
        height: 100px;
        padding: 35px 0;
        justify-content:space-between;
        align-items: center;
    }
    #header-logo{
        height: 100%;
    }
    nav ul.menu{
        list-style: none;
        text-align: justify;
    }
    nav .menu li{
        display: inline-block;
        margin: 0 10px 5px;
    }
    nav .menu a{
        text-decoration: none;
        color: white;
        padding: 5px;
    }
    nav .menu a:hover{
        text-decoration: underline;
    }
    #header-login{
        text-align: end;
    }
    /* bottom */
    header #jumbotron{
        background: #255EE9 url("../img/jumbo.png") center;
        background-size: cover;
        min-height: 500px;
        padding: 50px 0;
    }
    header #jumbotron .container{
        color: white;
        text-align: center;
        width: 50%;
        margin:auto;
        padding: 100px 0 0;
    }
    header p{
        line-height: calc(1em + 1.5vw);
        margin: 30px 0;
    }
    #jumbotron .container > span{
        display: inline-block;
        padding: 15px 10px;
    }
    #download-arrow::after{
        content: '\2193';
        font-size: bold;
    }

/* main */
main section{
    text-align: center;
    padding: 50px 0;
}
main section .container{
    flex-wrap: wrap;
}
main h2{
    margin-bottom: 50px;
}
main p{
    line-height: calc(1em + 1.5vw);
}
main img{
    width: 100%;
}
main .img.column{
    flex-grow: 1;
    width: 60%;
    min-width: 350px;
}
main .text.column{
    flex-grow: 1;
    width: 40%;
    padding-top: 40px;
}
main section:nth-of-type(2n){
    background-color: #F5F5F5
}
main .stars-text{
    font-size: calc(18px + 0.5vw);
    font-weight: bolder;
    padding: calc(20px + 0.5vw);
    background: url("../img/stars.svg") no-repeat top;
    background-size: contain;
}
#main-download-mac{
    margin: 30px 0;
}
.wave{
    height: 100px;
    background: url("../img/wave.svg") no-repeat;
    background-size: cover;
    filter: opacity(0.04);
}
.wave.reversed{
    transform: rotateX(180deg);
}

/* footer */
    /* top */
    footer{
        background-color: #333;
        padding: 10px 0 30px 0;
    }
    footer ul{
        list-style: none;
    }
    footer a{
        text-decoration: none;
        color: white;
    }
    footer .small.column a:hover{
        text-decoration: underline;
    }
    
        /* footer top container */
        footer .top.container{
            padding-bottom: 40px;
            flex-wrap: wrap;
            border-bottom: 2px solid lightgray;
        }
        footer .top.container .big.column{
            flex-grow: 1;
            min-width: 300px;
            width: 30%;
            padding: 30px;
        }
        footer .big.column h3{
            font-size: 30px;
            color: #7289DA;
            margin-bottom: 20px;
        }
        footer .language{
            margin: 20px 0;
        }
        footer .language>span{
            color: white;
            vertical-align: super;
        }    
        footer .language img{
            height: 18px;
        }
        #language-down-arrow::after {
            vertical-align: text-top;
            font-weight: bold;
            content: '\02C5';
        }
        .social-icons a{
            margin: 0 10px 0 0;
        }
        /* footer top small columns */
        footer .top.container .small-columns{
            flex-wrap: wrap;
            width: 70%;
            flex-grow: 1;
        }
        footer .top.container .small.column{
            width: calc(25%);
            min-width: 180px;
            flex-grow: 1;
            padding: 30px 0;
        }
        footer h4{
            color: #7289DA;
            margin-bottom: 20px;
        }
        footer .small.column li{
            margin-bottom: 10px;
        }

    /* bottom */
    footer .bottom.container{
        height: 60px;
        margin-top: 10px;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
    }
    #footer-logo{
        height: 100%;
    }
