/* debug */

.debug header #jumbotron{
    background-color: yellow;
}
.debug header #jumbotron .container{
    height: 400px;
    background-color: blue;
}
.debug main section .big{
    background-color: lightblue;
    height: 500px;
}
.debug main section .small{
    background-color: lightpink;
}
#last-section .container{
    height: 500px;
    background-color: green;
}
footer{
    background-color: rgb(90, 90, 90);
}
footer .top.container{
    height: 500px;
}
footer .top .big.column{
    background-color: rgb(255, 95, 95);
}
footer .top .small.column{
    background-color: rgb(56, 112, 56);

}
footer .bottom.container{
    background-color: lime;
}
#footer-logo,#footer-register{
    background-color: rgb(252, 116, 116);
}
/* CSS rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flexed{
    display: flex;
}
.sized{
    max-width: 1170px;
    width: 80%;
    margin: auto;
}
.button{
    padding: 10px 15px;
    border-radius: 25px;
}

.black.button{
    background-color: black;
    color:white;
}
.white.button{
    background-color: white;
    color: black;
}
/* header */
header{
    background-color: #255EE9;
}
    /* top */
    header .top.container{
        height: 100px;
        padding: 35px 0;
        justify-content:space-between;
        align-items: center;
    }
    #header-logo{
        height: 100%;
    }
    nav ul.menu{
        list-style: none;
        text-align: center;
    }
    nav .menu li{
        display: inline-block;
        margin: 0 10px;
    }
    nav .menu a{
        text-decoration: none;
        color: white;
    }
    #header-login{
        text-align: end;
    }
    /* bottom */
    header #jumbotron{
        height: 500px;
        padding: 50px 0;
    }
    header #jumbotron .container{
        width: 50%;
        margin:auto;
    }

/* main */
main section{
    padding: 50px 0;
}
main section .big.column{
    width: 60%;
}
main section .small.column{
    width: 40%;
}
main section:nth-of-type(2n){
    background-color: lightgrey;
}
/* footer */
    /* top */
    footer{
        background-color: #333;
        padding: 10px 0 30px 0;
    }
    footer .top.container{
        padding-bottom: 40px;
        border-bottom: 1px solid lightgray;
    }
    footer .top.container .big.column{
        width: 30%;
    }
    footer .top.container .small-columns{
        width: 70%;
    }
    footer .top.container .small.column{
        width: calc(25%);
    }
    /* bottom */
    footer .bottom.container{
        margin-top: 10px;
        justify-content: space-between;
        padding: 20px 0;
    }
    #footer-logo{
        padding:5px;
    }
    #footer-register{
        padding:5px;
    }
