*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: sans-serif;
}
p{
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 20px;
}
button{
    border: none;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.flexed{
    display: flex;
    flex-wrap: wrap;
}
.reversed{
    flex-wrap: wrap-reverse;
}
.sized{
    max-width: 1170px;
    width: 90%;
    margin: auto;
}
.btn{
    padding: 10px 15px;
    border-radius: 25px;
}
.btn:hover{
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.4);
}
.filter.btn{
    font-size: 20px;
    margin: 10px 10px 10px 0;
    padding: 15px 25px;
    border-radius: 40px;
}
.filter.btn:active{
    background-color: #5865f2;
    color: white;
}
.filter.btn:hover:not(:active){
    color: #5865f2;
}
.white.btn{
    background-color: white;
    color: black;
}
.blue.btn{
    background-color: #3a5cd7;
    color:white;
}
/* debug rules */


/* CSS rules */

/* header */
header{
    background-color: #5865f2;
    color: white;
}
    /* top-bar */
    header .top-bar{
        height: 80px;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 100px;
        flex-wrap: nowrap;
    }
    .header-menu{
        height: 50px;
        min-width: 150px;
        overflow-x: scroll;
        margin: 0 10px;
    }
    .header-menu ul{
        width: 700px;
        height: 30px;
        flex-grow: 1;
        overflow-x: scroll;
        flex-wrap: nowrap;
        align-items: center;
    }
    .header-menu li{
        margin: 0 10px;
    }
    .header-menu a{
        color: white;
        padding: 10px;
    }
    header #logo{
        height: 40px;
    }
    #logo img{
        height: 100%;
    }
    /* jumbotron */
    header h1{
        text-transform: uppercase;
        font-size: 56px;
        font-weight: 700;
        margin-bottom: 25px;
        text-align: center;
    }
    .jumbotron{
        text-align: center;
        margin-bottom: 100px;
    }
    .jumbotron-imgs{
        display: inline-block;
        position: relative;
        margin: 25% 0;
    }
    .jumbotron-imgs img{
        border-radius: 10px;
    }
    #jumbo-central{
        position: relative;
        z-index: 2;
    }
    #jumbo-top-left{
        transform: scale(0.8,0.8);
        position: absolute;
        top: -25%;
        left: -25%;
    }
    #jumbo-top-right{
        transform: scale(0.6,0.6);
        top: -25%;
        right: -25%;
        position: absolute;
    }
    #jumbo-bottom-right{
        bottom: -25%;
        right: -25%;
        position: absolute;
    }
    #jumbo-bottom-left{
        transform: scale(0.5,0.5);
        bottom: -25%;
        left: -25%;
        position: absolute;
    }

/* main */
main{
    text-align: center;
}
main section{
    padding: 100px 0;
}
main h2{
    font-size: 48px;
    line-height: 58px;
    font-weight: 700;
    margin-bottom: 25px;
}
main .section-text{
    text-align: left;
    padding: 25px;
    width: 50%;
    flex-grow: 5;
}
main h3{
    font-size: 30px;
    margin-bottom: 20px;
}
main .section-img{
    padding: 25px;
    width: 50%;
    min-width: 400px;
    margin: 0 auto;
    flex-grow: 1;
}
.section-img img{
    border-radius: 10px 10px 0 0;
    width: 100%;
}
main .references{
    position: relative;
    padding-top: 50px;
}
main .references a{
    color: #5865f2;
}
.references .stars{
    width: 100%;
    height: 100px;
    top: 0px;
    left: 0px;
    position: absolute;
    background: url("../../img/stars.svg") no-repeat center;
    background-size: contain;
}

/* careers section */
main .wave{
    color: black;
    height: 100px;
    width: 100%;
    filter: opacity(0.04);
    background: url("../../img/wave.svg") no-repeat center;
    background-size: cover;
}
.careers,.inclusion{
    text-align: left;
    background-color: #f6f6f6;
    margin-bottom: 0;
}
.careers .filter-btns{
    justify-content: flex-start;
}

/* life-in-discord section */
section.life-in-discord{
    background-color: #5865f2;
}
section.life-in-discord h2{
    color: white;
}
.perk{
    min-width: 300px;
    flex-grow: 1;
    width: calc(100% / 3);
    padding: 40px;
    text-align: left;
    color: white;
}
.perk p{
    font-weight: lighter;
    font-size: 20px;
    line-height: 30px;
}
.perk img{
    width: 40px;
    margin-bottom: 10px;
}
.perk h4{
    font-weight: lighter;
    font-size: 20px;
    margin-bottom: 20px;
}

main section.last{
    background-color: #2c2f33;
    color: white;
}
main section.last a{
    color: #505cd2;
}
main section.last p{
    line-height: 25px;
}

/* footer */
    /* top */
    footer{
        background-color: #23272a;
        padding: 10px 0 30px 0;
    }
    footer ul{
        list-style: none;
    }
    footer a{
        text-decoration: none;
        color: white;
    }
    footer .small.column a:hover{
        text-decoration: underline;
    }
    
        /* footer top container */
        footer .top.container{
            padding-bottom: 40px;
            flex-wrap: wrap;
            border-bottom: 2px solid #5865f2;
        }
        footer .top.container .big.column{
            flex-grow: 1;
            min-width: 300px;
            width: 30%;
            padding: 30px;
        }
        footer .big.column h3{
            font-size: 30px;
            color: #7289DA;
            margin-bottom: 20px;
        }
        footer .language{
            margin: 20px 0;
        }
        footer .language>span{
            color: white;
            vertical-align: super;
        }    
        footer .language img{
            height: 18px;
        }
        #language-down-arrow::after {
            vertical-align: text-top;
            font-weight: bold;
            content: '\02C5';
        }
        .social-icons a{
            margin: 0 10px 0 0;
        }
        /* footer top small columns */
        footer .top.container .small-columns{
            flex-wrap: wrap;
            width: 70%;
            flex-grow: 1;
        }
        footer .top.container .small.column{
            width: calc(25%);
            min-width: 180px;
            flex-grow: 1;
            padding: 30px 0;
        }
        footer h4{
            color: #7289DA;
            margin-bottom: 20px;
        }
        footer .small.column li{
            margin-bottom: 10px;
        }

    /* bottom */
    footer .btns.container{
        height: 60px;
        margin-top: 10px;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
    }
    #footer-logo{
        height: 100%;
    }
/* img segnaposto link
https://picsum.photos/200/300
 */